{% extends "a4/layout/base.html" %}
{% block content %}
<style>
#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
.Legendary{
  color: red;
}
.Expert{
  color: orange;
}
.Advanced{
  color: aqua;
}
.Intermediate{
  color:green;
}
.Beginner{
  color: blue;
}
</style>

<div>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..">
</div>

<div class="row px-3">
  <div class="col-md-6 offset-3">
    <div class="form-group">
      <label for="exampleInputEmail1" class="d-block">Filter By:</label>
      <label class="custom-control custom-radio d-block">
        <input name="radio" type="radio" class="custom-control-input my_radio" value="npm">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">NPM</span>
      </label>
      <label class="custom-control custom-radio d-block">
        <input name="radio" type="radio" class="custom-control-input my_radio" value="nama">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Nama</span>
      </label>
      <label class="custom-control custom-radio d-block">
        <input name="radio" type="radio" class="custom-control-input my_radio" value="angkatan">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Angkatan</span>
      </label>
      <label class="custom-control custom-radio d-block">
        <input name="radio" type="radio" class="custom-control-input my_radio" value="keahlian">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Keahlian</span>
      </label>
      <label class="custom-control custom-radio d-block">
        <input name="radio" type="radio" class="custom-control-input my_radio" value="level">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Level</span>
      </label>
    </div>
  </div>
</div>


<div class="panel panel-info">
    <div class="panel-body">
        <table class="table" id="myTable">
            <thead>
            <th> NPM</th>
            <th> Nama</th>
            <th> Angkatan</th>
            <th> Keahlian</th>
            </thead>
            <tbody>
            {% for friend in friend_list %}
            <tr>
                <td> {{ friend.npm }}</td>
                <td> {{ friend.name }}</td>
                <td> {{ friend.angkatan }}</td>

                <!-- {% if is_login %}
                <a href="{% url 'a1:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
                        Logout </a>
                {% endif %} -->
                <td>
                {% for keahlian in friend.keahlian.all %}
                <div class="{{ keahlian.tingkat }}">
                    {{keahlian.nama}}
                </div>
                {% endfor %}
                </td>

                <!-- <td class='{{ friend.skill_level }}'> {{ friend.skill_variant }}</td> -->

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

var badan = 0;
$('.my_radio').on('click', function(){

  if (this.value === "npm"){
    badan = 0;
  } else if (this.value === "nama"){
    badan = 1;
  } else if (this.value === "angkatan"){
    badan = 2;
  } else if (this.value === "keahlian"){
    badan = 3;
  } else if (this.value === "level"){
    badan = 4;
  }

})

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  if(badan<3){
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[badan];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  else{
    for (i = 0; i < tr.length; i++) {

        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
            div = td.getElementsByTagName("div");
            for(n=0; n<div.length; n++){
                if(badan==3){
                    if (div[n].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
                else{
                    if (div[n].className.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }
  }
  // Loop through all table rows, and hide those who don't match the search query

}
</script>

{% endblock %}
