{% extends "a2/layout/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="profile">
  <div class="profilePic">
    <img class="photo" src="{{ user.foto }}">
  </div>
  <script type="in/Login"></script>
  <div class="containerContent">
    <div class="content">
      <p><b>Nama: </b><span id="fullName">{{ user.nama }}</span></p>
      <p><b>NPM: </b>{{ user.npm }}</p>
      <p><b>Keahlian: </b>{% for ii in split_expertise %} <span class="expert">{{ ii }}</span> {% endfor %}</p>
      <p><b>Email: </b>{{ user.email }}</p>
      <p><b>Profile LinkedIn: </b><span id="profileUrl"><a href="{{ user.url_linkedin }}">{{ user.url_linkedin }}</a></span></p>

      <div class="skillChooserContainer">
        <div>
          <h2>Keahlian</h2>
          <select>
            <option>Java</option>
            <option>Python</option>
            <option>Web Development</option>
            <option>Leadership</option>
          </select>
        </div>
        <div>
          <h2>Level</h2>
          <select>
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Expert</option>
          </select>
        </div>
      </div>
      <div class="editProfileButtonContainer">
        <a class="editProfileButton">Save</a>
          <a onclick="logOutFromLinkedin();" class="editProfileButton">Logout</a>
      </div>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81qqfocgbrw8fy
    onLoad: onLinkedInLoad
    authorize: true
    lang:
</script>
<script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
        const fullName = data.firstName+" "+data.lastName;
        const profileUrl = data.publicProfileUrl;
        updateProfile(data);
    }

    function updateProfile(data) {
      $.ajax({
        method : 'POST',
        url : "{% url 'a2:update_profile' %}",
        data : {
          'full_name' : data.firstName+" "+data.lastName,
          'url_linkedin': data.publicProfileUrl,
          'picture_url': data.pictureUrl,
          'email': data.emailAddress,
          'headline': data.headline,
        },
        dataType : 'json',
        success : function(response) {
          window.location = '/a2';
        },
        error : function(error) {
          console.log(error);
        }
      });
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        IN.API.Raw("/people/~:(first-name,last-name,headline,email-address,picture-url,public-profile-url)").result(onSuccess).error(onError);
    }

    function logOutFromLinkedin() {
      IN.User.logout(logOut);
    }

    function logOut() {
      $.ajax({
        method : 'POST',
        url : "{% url 'a1:auth_logout' %}",
        success : function(response) {
          window.location.reload();
        },
        error : function(error) {
          console.log(error);
        }
      });
    }
</script>
{% endblock %}
