{% extends "a3/layout/base.html" %}
{% block content %}
<head>
<h1>Riwayat</h1>
<br></br>
<style>
table {
    font-family: arial, sans-serif;
    table-layout: fixed;
    border: 2px solid black;
    border-collapse: collapse;
    
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d6ebf2;
}
</style>
</head>

<body>
<section class="main-riwayat" id="riwayat">
	<div class="container">
		<div class="row">
			<div class="riwayatzzz">
				<table class="table">
					<thead>
					    <tr>
					      <th>Mata Kuliah</th>
					      <th>Nilai</th>
				    	</tr>
				  	</thead>
					<tbody>
					{% for riwayat in riwayats %}
						<tr>
							<td>{{ riwayat.kelas.nm_mk_cl.nm_mk }}</td>
							<td>{{ riwayat.nilai }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
</body>

{% endblock %}
