<div class="panel panel-info">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <p><b>Nama: </b>{{ user.name }}</p>
        <p><b>NPM: </b>{{ user.npm }}</p>
        <p><b>Keahlian: </b>{{ user.mastery }}</p>
        <p><b>Email: </b>{{ user.email }}</p>
        <p><b>Link profile: </b>{{ user.profileLinkedin }}</p>
        <p>
    </div>
</div>
