<!-- show status -->
<section name="my-list" id="my-list" style="padding-bottom: 20px">
        <section name="input-status" id="input-status">
                <form id="form" method="POST" action="{% url 'a2:add' %}">
                    <h3><b>What's on your mind?</b></h3>
                    {% csrf_token %}
                    {{ status_form }}
                    <br>
                    <input id="submit" type="submit" class="btn btn-md btn-info" value="Post">
                </form>
        </section>
    {% if status %}
    <div class="container"> 
        {% for data in status %}
            <div class="kotak" style="padding-top: 15px">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="media" style="padding: 40px">
                            <div class="media-left ">
                                <!-- <img src="https://assets.teenvogue.com/photos/59922529fc885e5cc9aba96e/master/pass/GettyImages-546939180.jpg" class="media-object img-circle" style="width:60px"> --><!--foto nanti diganti dgn foto di hal profile-->
                                <span class="glyphicon glyphicon-user pull-left"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><strong>{{profile_name}}</strong> <small><i>Posted on {{data.created_date}}</i></small></h4><!--nama nanti diganti dgn nama di hal profile-->
                                <p>{{data.status}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Tombol delete -->
                    <div class="col-md-4">
                        <a href="{% url 'a2:delete' data.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger text-center">
            <strong>Oops!</strong> Belum ada status.
        </div>
    {% endif %}
    </section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        alert("ASDASDA");
        var show_form = '{{ status_form }}';
        console.log(show_form);
        if (show_form == 'True') {
            console.log(show_form)
            $('#input-status').hide();
            $('.status-list-delete').hide();
        }
        else{
            console.log("TEST");
            $('#input-status').show();
            $('.status-list-delete').show();
        }
    });
</script>