<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="{% url 'mahasiswa:index' %}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="{% url 'lab-7:daftar-teman' %}">Friends List</a> </li> -->
      </ul>

      {% if ada %}
          <a href="{% url 'a1:auth_logout' %}" class="green-button pull-right" onclick="return confirm('Keluar?')">
              Logout </a>
      {% else %}
      {% endif %}

    </div><!--/.nav-collapse -->
  </div>
</nav>
