{% extends "a1/layout/base.html" %}
{% block content %}
<div class="container" id="a1">
<h1 style="text-align:center">
    <a href="{% url 'a1:login' %}" class="btn btn-info">Login Mahasiswa</a>
</h1>
</div>

{% endblock %}
